<select (change)="characterChange($event.target.value)">
  <option [value]="null">{{ 'new' | translate }}</option>
  <option *ngFor="let key of characters | keys" [value]="key">{{ characters[key]?.name }} ( {{key}} )</option>
</select>
<button type="button" class="btn btn-default" (click)="deleteCharacter()">{{ 'deleteCharacter' | translate }}</button>
<form class="form form-content" [formGroup]="changeCharacterKeyFormGroup" (ngSubmit)="changeCharacterKey()">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="form-group">
        <select formControlName="player">
          <option [value]="null">{{ 'none' | translate }}</option>
          <option *ngFor="let key of connections | keys" [value]="key">{{ connections[key].label }}</option>
        </select>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-default">{{ 'changeCharacterKey' | translate }}</button>
</form>
<form class="form form-content" [formGroup]="characterFormGroup" (ngSubmit)="saveCharacter()">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="form-group">
        <input type="text" class="form-control" formControlName="name"/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="form-group">
        <textarea cols="30" rows="10" formControlName="sheet"></textarea>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-default">{{ 'saveCharacter' | translate }}</button>
</form>
