<div [hidden]="isConnected">
  <form class="form form-content" [formGroup]="enterFormGroup" (ngSubmit)="enter()">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="form-group">
          <input type="text" class="form-control" formControlName="id"/>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="form-group">
          <input type="text" class="form-control" formControlName="name"/>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-default">{{ 'enter' | translate }}</button>
  </form>
</div>
<div [hidden]="!isConnected">
  <ul>
    <li *ngFor="let message of messages">{{message.data}}</li>
  </ul>
  <form class="form form-content" [formGroup]="textFormGroup" (ngSubmit)="sendText()">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="form-group">
          <input type="text" class="form-control" formControlName="text"/>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-default">{{ 'sendText' | translate }}</button>
  </form>
</div>
