<div *ngIf="!isConnected">
  <form class="form form-content" [formGroup]="enterFormGroup" (ngSubmit)="enter()">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="form-group">
          <input type="text" class="form-control" formControlName="id"/>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="form-group">
          <input type="text" class="form-control" formControlName="name"/>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-default">{{ 'enter' | translate }}</button>
  </form>
</div>
<div *ngIf="isConnected">
  <div *ngIf="host">
    {{host.label}} - {{host.isBlocked}}
  </div>
  <ul>
    <li *ngFor="let key of connections | keys">{{key}} - {{connections[key].label}} - {{connections[key].isBlocked}}</li>
  </ul>
  <ul>
    <li *ngFor="let message of messages">{{ message.data | json }}</li>
  </ul>
  <form class="form form-content" [formGroup]="textFormGroup" (ngSubmit)="sendText()">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="form-group">
          <input type="text" class="form-control" formControlName="text"/>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-default">{{ 'sendText' | translate }}</button>
  </form>
  <form class="form form-content" [formGroup]="rollFormGroup" (ngSubmit)="sendRoll()">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="form-group">
          <input type="number" class="form-control" formControlName="amount"/>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="form-group">
          <select formControlName="explosion">
            <option [ngValue]="10">{{ 'ten' | translate }}</option>
            <option [ngValue]="9">{{ 'nine' | translate }}</option>
            <option [ngValue]="8">{{ 'eight' | translate }}</option>
            <option [ngValue]="11">{{ 'none' | translate }}</option>
          </select>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="form-group">
          <input type="checkbox" class="form-control" formControlName="isCanceller"/>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-default">{{ 'sendRoll' | translate }}</button>
  </form>
</div>
